.blurr_img
{
    filter : blur( 20px);
}
.down_section
{
     min-height :  300px ;
     display : flex;
     flex-direction:  column ;
     gap : 30px ;
     overflow-y:hidden;
     padding-top:50px;
}
.down_section > h2 
{
     padding-left:13px;
}
.related_items_list 
{
     padding-top : 10px;
     padding-left:13px;
     display : flex ;
     flex-direction:  row ;
     width :  100%;
     gap : 25px;
     max-height : 550px;
     overflow-y:hidden;
}
/*li*/
.related_item{

     overflow: hidden;
     background-color: #3C486B;
     flex-basis:250px;
     min-width: 250px;
     max-width: 260px;
     max-height : 440px;
     border-radius: 10px;
     box-sizing: border-box;
     flex-grow: 1;
     cursor: pointer;
     margin-bottom:10px;
     box-shadow :  0 0  10px black , 0 0 2px black;
}

.related_item .product_item:hover 
{
     transform: scale(1.03,1.03);
     box-shadow: 5px 10px 30px grey;
     transition : 0.2s ease-in;
}
.related_item .product_img{
     height: 250px;
     width: 100%;
     object-fit: contain;
     background-color: #fff;
}
.related_item .product_name {
     font-size: 16px;
     color: #212324;
     padding: 10px 15px;
     max-height: 60px;;
     overflow: hidden;
     word-spacing: 2px;
     color : white;
}
.related_item .product_price{
     padding: 10px 0px;
     font-size: 26px;
     color:white;
     text-align: center;
}
.related_item .btn_div {     
     text-align: center;
     color: black;
     margin: 0px;
     padding: 10px;
     width: 100%;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     background-color: #3C486B;
     font-size: 25px;
     font-weight: bolder;
     text-transform: capitalize;
}


.related_item .btn_div > button 
{
     padding:  10px 30px; 
     background-color: #F9D949;
     border-radius : 20px;
     font-weight: bold;
     cursor: pointer;
}
.related_item .btn_div > button:hover 
{
    background-color: #ffffff;
}
.related_item:hover 
{
          transform: scale(1.03,1.03);     
          box-shadow :  5px 10px 4px black;
          transition : 0.2s ease-in;
}
